body {
  margin: 0;
  text-align: center;
}
@font-face {
  font-family: 'MyWebFont';
  src:  url('Alianza Slab 400.otf') format('opentype');
        url('Dhanikans Signature Italic_dafont.ttf') format('truetype');
}


.top-container {
  background-color: #cbeaed;
  position: relative;
  padding-top: 50px;
  margin: 0;

}

.mid-container {
  background-color: #2d4059;
  height: 200px;
  width: 200px;
}

.botom-container {
    background-color: #ea5455;
  height: 200px;
  width: 200px;
}

h1 {
  color: #006a71;
  margin: 0 auto 0 auto;
  font-size: 80px;
  font-family: 'MyWebFont', "Dhanikans Signature",fantasy;
}

p {
  color: #2d4059;
  font-size: 20px;
  font-family: 'MyWebFont', "Alianza Slab 400", sans-serif;
  margin: 0;
}

.pro {
  color: #ea5455;
  font-size: 25px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  top: 200px;
}

.top-cloud {
  position: absolute;
  left: 180px;
  top: 60px;
}

.right-cloud {
  position: absolute;
  right: 140px;
  top: 65px;
}
.mountain {
  width: 100%;
}
