@font-face {
  font-family: 'MyWebFont';
  src:   url('Dhanikans Signature Italic_dafont.ttf') format('truetype');
}

@font-face {
  font-family: 'MyWebFont1';
  src:  url('Alianza Slab 400.otf') format('opentype');
 
 body {
  margin: 0;
  text-align: center;
   font-family: 'MyWebFont1', "Alianza Slab 400", sans-serif;
}

.top-container {
  background-color: #cbeaed;
  position: relative;
  padding-top: 50px;
  margin: 0;
}

.mid-container {
  background-color: #f9f9f9;
}

.botom-container {
    background-color: #ffe0ac;
}

h1 {
  color: #006a71;
  margin: 0 auto 0 auto;
  font-size: 500%;
  font-family: "Dhanikans Signature",fantasy;
}
h2 {
  color: #006a71;
   }
h3 {
  color: #6886c5;
  }

p {
  color: #2d4059;
  font-size: 125%;
    margin: 0;
}
.p1 {
  color: #2d4059;
  font-size: 100%;
   margin: 0;
}
.p2 {
  color: #2d4059;
  font-size: 10px;
   margin: 0;
}


.pro {
  color: #ea5455;
  font-size: 25px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  top: 250px;
}

.top-cloud {
  position: absolute;
  left: 250px;
  top: 60px;
}

.right-cloud {
  position: absolute;
  right: 170px;
  top: 65px;
}
.mountain {
  width: 100%;
}
.programmer {
  height: 120px;
  width: 120px;
}
.yasser {
  margin-top: 20px;
  height: 120px;
  width: 120px;
}
.designer {
  height: 120px;
  width: 120px;
}
